
/* Root Variables */
:root {
    /* Color Variables */
    --control-panel-blue: #2F15FF;
    --hot-pink: #E85EF7;
    --generic-white: #FFF;
    --generic-red-color: #ED2939;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Control Panel Styling */
.helpdesk-queue-control-panel {
    background-color: var(--control-panel-blue);
    height: 20rem;
    width: 30rem;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.4rem double var(--generic-white);
    border-radius: 0.3rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.25rem;

    & h1 {
        color: var(--generic-white);
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        align-self: center;
        justify-self: center;
    }

    & .add {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        margin: 0rem 0.7rem 0rem 0.7rem;
        background-color: var(--hot-pink);
    }

    & .undo {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    & .redo {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    & #ticket-display-open {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        align-self: center;
        justify-self: center;
        color: var(--generic-white);

        & span:nth-child(2) {
            border: 1px dotted var(--generic-white);
            padding: 0.1rem;
        }
    }

    & #ticket-display-urgent {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        align-self: center;
        justify-self: center;
        color: var(--generic-red-color);

        & span:nth-child(2) {
            border: 1px dotted var(--generic-red-color);
            padding: 0.1rem;
        }
    }

    & .switch {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        align-self: center;
        justify-self: center;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        color: var(--generic-white);

        & #view-all {
            height: 1.2rem;
            width: 1.2rem;

            margin: 0rem 0.2rem 0rem 0.2rem;
            accent-color: yellow; 
        }
    }

    & [role="tablist"] {
        grid-column: 2 / 4;
        grid-row: 4 / 6;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        & #billing-tab {
            grid-column: 1 / 2;
        }

        & #tech-tab {
            grid-column: 2 / 3;
            color: red;
        }

        & #sales-tab {
            grid-column: 3 / 4;
        }
    }

    & #billing-panel {
        grid-column: 1 / 4;
        grid-row: 6 / 7;
        background-color: aqua;
    }

    & #tech-panel {
        grid-column: 1 / 4;
        grid-row: 7 / 8;
        background-color: yellow;
    }

    & #sales-panel {
        grid-column: 1 / 4;
        grid-row: 8 / 9;
        background-color: greenyellow;
    }
}

/* Modal Styling */
.modal {
    background-color: var(--hot-pink);
    height: 20rem;
    width: 15rem;

    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    opacity: 95%;
}

.modal::backdrop {
    background-color: yellow;
    opacity: 70%;
}

.modal:not([open]) {
    display: none;
}

/* Utility Classes */
.VT323-large {
    font-family: "VT323", monospace;
    font-weight: 100;
    font-style: normal;
    font-size: 4rem;
}

.ibm-plex-mono-medium {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}

.ibm-plex-mono-small {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
}

.ibm-plex-mono-alt {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
}