
/* Root Variables */
:root {
    /* Color Variables */
    --control-panel-blue: #2F15FF;
    --generic-hot-pink: #E85EF7;
    --generic-white: #FFF;
    --premium-white: #F8F9FB;
    --generic-red-color: #ED2939;
    --generic-grey: #D3D3D3;
    --dark-grey: #2F4F4F;
    --generic-yellow: #FFFF00;
    --generic-green: #00FF7F;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Control Panel Styling */
.helpdesk-queue-control-panel {
    background-color: var(--control-panel-blue);
    height: 22rem;
    width: 33rem;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.4rem double var(--generic-white);
    border-radius: 0.3rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.25rem;

    & h1 {
        color: var(--generic-white);
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        align-self: center;
        justify-self: center;
    }

    & .add {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        margin: 0rem 0.7rem 0rem 0.7rem;
        background-color: var(--generic-hot-pink);

        &:hover {
            background-color: var(--generic-green);
            opacity: 0.9;
            cursor: pointer;
        }
    }

    & .undo {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    & .redo {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    & #ticket-display-open {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        align-self: center;
        justify-self: center;
        color: var(--generic-white);

        & span:nth-child(2) {
            border: 1px dotted var(--generic-white);
            padding: 0.1rem;
        }
    }

    & #ticket-display-urgent {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        align-self: center;
        justify-self: center;
        color: var(--generic-red-color);

        & span:nth-child(2) {
            border: 1px dotted var(--generic-red-color);
            padding: 0.1rem;
        }
    }

    & .switch {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        align-self: center;
        justify-self: center;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        color: var(--generic-white);

        & #view-all {
            height: 1.2rem;
            width: 1.2rem;

            margin: 0rem 0.2rem 0rem 0.2rem;
            accent-color: var(--generic-yellow); 
        }
    }

    & [role="tablist"] {
        grid-column: 2 / 4;
        grid-row: 4 / 6;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        & #billing-tab {
            grid-column: 1 / 2;
        }

        & #tech-tab {
            grid-column: 2 / 3;
        }

        & #sales-tab {
            grid-column: 3 / 4;
        }
    }

    & #billing-panel {
        grid-column: 1 / 4;
        grid-row: 6 / 7;
    }

    & #tech-panel {
        grid-column: 1 / 4;
        grid-row: 7 / 8;
    }

    & #sales-panel {
        grid-column: 1 / 4;
        grid-row: 8 / 9;
    }
}

.ticket-card {
    background-color: var(--premium-white);
    opacity: 0.95;

    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;

    & :nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: center;
        justify-self: flex-start;
        margin: 0rem 0rem 0rem 1rem;
    }

    & :nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: center;
        justify-self: flex-start;
        margin: 0rem 0rem 0rem 3.5rem;
    }

    & :nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        align-self: center;
        justify-self: flex-start;
        margin: 0rem 0rem 0rem 1rem;
    }

    & :nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        align-self: center;
        justify-self: flex-end;

        margin: 0rem 1rem 0rem 0rem;
        padding: 0.2rem;
        /* background-color: var(--generic-red-color);
        border: 0.1rem solid var(--generic-red-color); */
        border-radius: 0.2rem;
    }

    & .priority-high {
        background-color: var(--generic-red-color);
        border: 0.1rem solid var(--generic-red-color);
        border-radius: 0.2rem;
    }

    & .priority-low {
        background-color: var(--dark-grey);
        border: 0.1rem solid var(--dark-grey);
        border-radius: 0.2rem;
        color: var(--generic-white);
    }
}

/* Button Styling */
.control-panel-button {
    background-color: var(--generic-grey);

    &:hover {
        background-color: var(--generic-yellow);
        opacity: 0.9;
        cursor: pointer;
    }
}

/* Modal Styling */
.modal {
    background-color: var(--generic-hot-pink);
    height: 20rem;
    width: 15rem;

    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    opacity: 95%;

    &::backdrop {
        background-color: var(--generic-yellow);
        opacity: 70%;
    }
}

.modal:not([open]) {
    display: none;
}

/* Utility Classes */
.VT323-large {
    font-family: "VT323", monospace;
    font-weight: 100;
    font-style: normal;
    font-size: 4rem;
}

.ibm-plex-mono-medium {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}

.ibm-plex-mono-small {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
}

.ibm-plex-mono-alt {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
}